<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>Create new training</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_new_training.css' %}">
    <link href="{% static 'assets/favicon-2.png' %}" rel="icon">
</head>

<body>
    <div class="container col-md-6">
        <div class="form-container">
            <h1 class="top">Add a new training</h1>
            <form method="POST" id="add-training-form" action="{% url 'create-new-training' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Training Type</label>
                    <select class="form-select" id="trainingType" name="trainingType">
                        <option selected>Choose...</option>
                        <option value="Recovery run">Recovery Run</option>
                        <option value="Intensive run">Intensive Run</option>
                        <option value="Goal like run">Goal-like Run</option>
                        <option value="Specific run">Specific Run</option>
                        <option value="Sharpening training">Sharpening training</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="trainingDate" class="form-label">When will you train ?</label>
                    <input class="form-control" type="date" name="trainingDate"
                        placeholder="What is the name of your main objectif">
                </div>
                <div class="mb-3">
                    <label for="trainingKm" class="form-label">How much will you run ?</label>
                    <input class="form-control" type="number" name="trainingKm" placeholder="Example 10 (km)">
                </div>
                <div class="mb-3">
                    <label for="trainingD" class="form-label">How much will you climb ?</label>
                    <input type="number" class="form-control" name="trainingD" placeholder="Example 450 (D+)">
                </div>

                <div class="mb-3">
                    <label for="trainingComments" class="form-label">Any comments for this run ?</label>
                    <input type="text" class="form-control" name="trainingComments" placeholder="Example 75% FCM ...">
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>

</html>