<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bd5780145d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_planner.css' %}">
    <link href="{% static 'assets/favicon-2.png' %}" rel="icon">
</head>


<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <h1 class="me-5">Trailing Planner</h1>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'index' %}" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="{% url 'profil' %}"><i class="fas fa-user-alt"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="base">
        <div class="outside-container">
            <div class="objectives col-md-6">
                <div class="mx-auto main-obj">
                    <h1>{{sport_profil.final_objectif_name}}</h1>
                    <h2>{{sport_profil.final_objectif_km}} Km- {{sport_profil.final_objectif_deniv}}D+</h2>
                </div>
                <div class="card mb-3 bd-callout bd-callout-intensive">
                    <div class="card-body">
                        <p class="card-text">
                        <h2>Weekly training evolution</h2>
                        <div class="graphContainer">
                            <canvas id="chartEvolution" width="1000" height="300"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
                            <script type="text/javascript">
                                var config = {
                                    type: 'line',
                                    data: {
                                        datasets: [{
                                            data: {{ all_km | safe }},
                                            borderColor: 'rgba(45, 201, 151, 1)',
                                            backgroundColor: 'rgba(45, 201, 151, 0.25)',
                                            label: 'Kilometers',
                                            tension: 0.3,
                                            fill: {
                                                target: 'origin',
                                            },
                                            yAxisID: 'y',
                                        },
                                        {
                                            data: {{ all_deniv | safe }},
                                            borderColor: 'rgb(248, 203, 0)',
                                            backgroundColor: 'rgba(248, 203, 0, 0.25)',
                                            label: 'Elevation gain',
                                            tension: 0.3,
                                            fill: {
                                                target: 'origin',
                                            },
                                            yAxisID: 'y1',
                                        }],
                                        labels: ["Monday", "Tuesday", "Wednesday", "Thursday",
                                                 "Friday", "Sarturday", "Sunday"],
                                    },
                                    options: {
                                        responsive: true,
                                        scales: {
                                            y: {
                                                type: 'linear',
                                                display: true,
                                                position: 'left',
                                                title: {
                                                    display: true,
                                                    text : "Number of kilometers ran",
                                                }
                                            },
                                            y1: {
                                                type: 'linear',
                                                display: true,
                                                position: 'right',
                                                title: {
                                                    display: true,
                                                    text: "Number of meters climbed",
                                                },
                                                grid: {
                                                    drawOnChartArea: false,
                                                },
                                            }
                                        }
                                        }
                                    };

                                    window.onload = function() {
                                    var ctx = document.getElementById('chartEvolution').getContext('2d');
                                    window.Chart = new Chart(ctx, config);
                                    };
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12 train-planning" style="text-align: center;">
            <h1>Training planning</h1>
            <a href="{% url 'add_new_training' %}" class="add-training btn btn-primary btn-rounded btn-icon">
                <i class="fas fa-plus"></i> Add new training
            </a>
        </div>
        <div class="board col-md-12">
            <div class="board-lists">
                <div class="board-list">
                    <div class="list-title">
                        Monday
                    </div>
                    {% if trainings.1 is not none %}
                        <div class="card mb-3 bd-callout bd-callout-{{trainings.1.trainingType}}">
                            <div class="card-header">{{ trainings.1.trainingType }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trainings.1.trainingDate }}</h5>
                                <p class="card-text">
                                    <ul>
                                        <li><strong>Nb of km</strong>: {{ trainings.1.trainingKm }} km</li>
                                        <li><strong>Elevation gain</strong>: {{ trainings.1.trainingD }} D+</li>
                                        <li><strong>Comments :</strong></li>
                                        <p>{{ trainings.1.trainingComments }}</p>
                                    </ul>
                                </p>
                                <div class="card-footer text-muted bd-callout bd-callout-{{ trainings.1.status }}">
                                    <span> Status :
                                    {% if trainings.1.status == "False" %}
                                        <i class="fas fa-times"></i>
                                    {% else %}
                                        <i class="fas fa-check"></i>
                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% if trainings.1.status == False %}
                                    <form method="POST" id="mark-as-done" action="{% url 'training-done' %}">
                                        {% csrf_token %}
                                        <div class="mb-3 form-check form-switch">
                                            <input type="hidden" value="{{ trainings.1 }}" name="training">
                                            <input class="form-check-input" type="checkbox" id="runDone" name="runDone">
                                            <label class="form-check-label" for="runDone">I have finish this training</label>

                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                        {% endif %}
                    {% else %}
                        <div class="card mb-3 bd-callout bd-callout-notraining">
                            <div class="card-header">Rest day</div>
                            <div class="card-body">
                                <p class="card-text">
                                    No training scheduled for this day, enjoy the rest !
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="board-list">
                    <div class="list-title">
                        Tuesday
                    </div>
                    {% if trainings.2 is not none %}
                        <div class="card mb-3 bd-callout bd-callout-{{trainings.2.trainingType}}">
                            <div class="card-header">{{ trainings.2.trainingType }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trainings.2.trainingDate }}</h5>
                                <p class="card-text">
                                    <ul>
                                        <li><strong>Nb of km</strong>: {{ trainings.2.trainingKm }} km</li>
                                        <li><strong>Elevation gain</strong>: {{ trainings.2.trainingD }} D+</li>
                                        <li><strong>Comments :</strong></li>
                                        <p>{{ trainings.2.trainingComments }}</p>
                                    </ul>
                                </p>
                                <div class="card-footer text-muted bd-callout bd-callout-{{ trainings.2.status }}">
                                    <span> Status :
                                    {% if trainings.2.status == False %}
                                        <i class="fas fa-times"></i>
                                    {% else %}
                                        <i class="fas fa-check"></i>
                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% if trainings.2.status == False %}
                            <form method="POST" id="mark-as-done" action="{% url 'training-done' %}">
                                {% csrf_token %}
                                <div class="mb-3 form-check form-switch">
                                    <input type="hidden" value="{{ trainings.2 }}" name="training">
                                    <input class="form-check-input" type="checkbox" id="runDone" name="runDone">
                                    <label class="form-check-label" for="runDone">I have finish this training</label>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        {% endif %}
                    {% else %}
                        <div class="card mb-3 bd-callout bd-callout-notraining">
                            <div class="card-header">Rest day</div>
                            <div class="card-body">
                                <p class="card-text">
                                    No training scheduled for this day, enjoy the rest !
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="board-list">
                    <div class="list-title">
                        Wednesday
                    </div>
                    {% if trainings.3 is not none %}
                        <div class="card mb-3 bd-callout bd-callout-{{trainings.3.trainingType}}">
                            <div class="card-header">{{ trainings.3.trainingType }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trainings.3.trainingDate }}</h5>
                                <p class="card-text">
                                    <ul>
                                        <li><strong>Nb of km</strong>: {{ trainings.3.trainingKm }} km</li>
                                        <li><strong>Elevation gain</strong>: {{ trainings.3.trainingD }} D+</li>
                                        <li><strong>Comments :</strong></li>
                                        <p>{{ trainings.3.trainingComments }}</p>
                                    </ul>
                                </p>
                                <div class="card-footer text-muted bd-callout bd-callout-{{ trainings.3.status }}">
                                    <span> Status :
                                        {% if trainings.3.status == False %}
                                            <i class="fas fa-times"></i>
                                        {% else %}
                                            <i class="fas fa-check"></i>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% if trainings.3.status == False %}
                            <form method="POST" id="mark-as-done" action="{% url 'training-done' %}">
                                {% csrf_token %}
                                <div class="mb-3 form-check form-switch">
                                    <input type="hidden" value="{{ trainings.3 }}" name="training">
                                    <input class="form-check-input" type="checkbox" id="runDone" name="runDone">
                                    <label class="form-check-label" for="runDone">I have finish this training</label>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        {% endif %}
                    {% else %}
                        <div class="card mb-3 bd-callout bd-callout-notraining">
                            <div class="card-header">Rest day</div>
                            <div class="card-body">
                                <p class="card-text">
                                    No training scheduled for this day, enjoy the rest !
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="board-list">
                    <div class="list-title">
                        Thursday
                    </div>
                    {% if trainings.4 is not none %}
                        <div class="card mb-3 bd-callout bd-callout-{{trainings.4.trainingType}}">
                            <div class="card-header">{{ trainings.4.trainingType }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trainings.4.trainingDate }}</h5>
                                <p class="card-text">
                                    <ul>
                                        <li><strong>Nb of km</strong>: {{ trainings.4.trainingKm }} km</li>
                                        <li><strong>Elevation gain</strong>: {{ trainings.4.trainingD }} D+</li>
                                        <li><strong>Comments :</strong></li>
                                        <p>{{ trainings.4.trainingComments }}</p>
                                    </ul>
                                </p>
                                <div class="card-footer text-muted bd-callout bd-callout-{{ trainings.4.status }}">
                                    <span> Status :
                                    {% if trainings.4.status == False %}
                                        <i class="fas fa-times"></i>
                                    {% else %}
                                        <i class="fas fa-check"></i>
                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                            {% if trainings.4.status == False %}
                                <form method="POST" id="mark-as-done" action="{% url 'training-done' %}">
                                    {% csrf_token %}
                                    <div class="mb-3 form-check form-switch">
                                        <input type="hidden" value="{{ trainings.4 }}" name="training">
                                        <input class="form-check-input" type="checkbox" id="runDone" name="runDone">
                                        <label class="form-check-label" for="runDone">I have finish this training</label>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card mb-3 bd-callout bd-callout-notraining">
                            <div class="card-header">Rest day</div>
                            <div class="card-body">
                                <p class="card-text">
                                    No training scheduled for this day, enjoy the rest !
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="board-list">
                    <div class="list-title">
                        Friday
                    </div>
                    {% if trainings.5 is not none %}
                        <div class="card mb-3 bd-callout bd-callout-{{trainings.5.trainingType}}">
                            <div class="card-header">{{ trainings.5.trainingType }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trainings.5.trainingDate }}</h5>
                                <p class="card-text">
                                    <ul>
                                        <li><strong>Nb of km</strong>: {{ trainings.5.trainingKm }} km</li>
                                        <li><strong>Elevation gain</strong>: {{ trainings.5.trainingD }} D+</li>
                                        <li><strong>Comments :</strong></li>
                                        <p>{{ trainings.5.trainingComments }}</p>
                                    </ul>
                                </p>
                                <div class="card-footer text-muted bd-callout bd-callout-{{ trainings.5.status }}">
                                    <span> Status :
                                    {% if trainings.5.status == False %}
                                        <i class="fas fa-times"></i>
                                    {% else %}
                                        <i class="fas fa-check"></i>
                                    {% endif %}
                                    </span>
                                </div>
                                {% if trainings.5.status == False %}
                                    <form method="POST" id="mark-as-done" action="{% url 'training-done' %}">
                                        {% csrf_token %}
                                        <div class="mb-3 form-check form-switch">
                                            <input type="hidden" value="{{ trainings.5 }}" name="training">
                                            <input class="form-check-input" type="checkbox" id="runDone" name="runDone">
                                            <label class="form-check-label" for="runDone">I have finish this training</label>

                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card mb-3 bd-callout bd-callout-notraining">
                            <div class="card-header">Rest day</div>
                            <div class="card-body">
                                <p class="card-text">
                                    No training scheduled for this day, enjoy the rest !
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="board-list">
                    <div class="list-title">
                        Sarturday
                    </div>
                    {% if trainings.6 is not none %}
                        <div class="card mb-3 bd-callout bd-callout-{{trainings.6.trainingType}}">
                            <div class="card-header">{{ trainings.6.trainingType }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trainings.6.trainingDate }}</h5>
                                <p class="card-text">
                                    <ul>
                                        <li><strong>Nb of km</strong>: {{ trainings.6.trainingKm }} km</li>
                                        <li><strong>Elevation gain</strong>: {{ trainings.6.trainingD }} D+</li>
                                        <li><strong>Comments :</strong></li>
                                        <p>{{ trainings.6.trainingComments }}</p>
                                    </ul>
                                </p>
                                <div class="card-footer text-muted bd-callout bd-callout-{{ trainings.6.status }}">
                                    <span> Status :
                                    {% if trainings.6.status == False %}
                                        <i class="fas fa-times"></i>
                                    {% else %}
                                        <i class="fas fa-check"></i>
                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                            {% if trainings.6.status == False %}
                                <form method="POST" id="mark-as-done" action="{% url 'training-done' %}">
                                    {% csrf_token %}
                                    <div class="mb-3 form-check form-switch">
                                        <input type="hidden" value="{{ trainings.6 }}" name="training">
                                        <input class="form-check-input" type="checkbox" id="runDone" name="runDone">
                                        <label class="form-check-label" for="runDone">I have finish this training</label>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card mb-3 bd-callout bd-callout-notraining">
                            <div class="card-header">Rest day</div>
                            <div class="card-body">
                                <p class="card-text">
                                    No training scheduled for this day, enjoy the rest !
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="board-list">
                    <div class="list-title">
                        Sunday
                    </div>
                    {% if trainings.0 is not none %}
                        <div class="card mb-3 bd-callout bd-callout-{{trainings.0.trainingType}}">
                            <div class="card-header">{{ trainings.0.trainingType }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ trainings.0.trainingDate }}</h5>
                                <p class="card-text">
                                    <ul>
                                        <li><strong>Nb of km</strong>{{ trainings.0.trainingKm }}: km</li>
                                        <li><strong>Elevation gain</strong>{{ trainings.0.trainingD }}: D+</li>
                                        <li><strong>Comments :</strong></li>
                                        <p>{{ trainings.0.trainingComments }}</p>
                                    </ul>
                                </p>
                                <div class="card-footer text-muted bd-callout bd-callout-{{ trainings.0.status }}">
                                    <span> Status :
                                    {% if trainings.0.status == False %}
                                        <i class="fas fa-times"></i>
                                    {% else %}
                                        <i class="fas fa-check"></i>
                                    {% endif %}
                                    </span>
                                </div>
                            </div>
                            {% if trainings.0.status == False %}
                                <form method="POST" id="mark-as-done" action="{% url 'training-done' %}">
                                    {% csrf_token %}
                                    <div class="mb-3 form-check form-switch">
                                        <input type="hidden" value="{{ trainings.0 }}" name="training">
                                        <input class="form-check-input" type="checkbox" id="runDone" name="runDone">
                                        <label class="form-check-label" for="runDone">I have finish this training</label>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card mb-3 bd-callout bd-callout-notraining">
                            <div class="card-header">Rest day</div>
                            <div class="card-body">
                                <p class="card-text">
                                    No training scheduled for this day, enjoy the rest !
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

</html>