<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>Profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'assets/login/icons/favicon.ico' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_profil.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="profile-nav col-md-12">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="{% static 'assets/profil/avatar.png' %}" alt="">
                        </a>
                        <h1>{{user.username}}</h1>
                        <p>{{ user.email }}</p>
                    </div>
                    <div class="panel" style="text-align: center">
                        <h3>Resume</h3>
                        <div class="panel-body bio-graph-info">
                            <div class="row">
                                <div class="bio-row">
                                    <div>First Name : {{user.first_name}}</div>
                                </div>
                                <div class="bio-row">
                                    <div>Last Name : {{user.last_name}} </div>
                                </div>
                                <div class="bio-row">
                                    <div>Country : <i class="ico ico-france"></i></div>
                                </div>
                                <div class="bio-row">
                                    <div>Final objectif : {{sport_profil.final_objectif_name}}</div>
                                </div>
                            </div>
                        </div>

                        <a href="{% url 'planner' %}">
                            {% if sport_profil.final_objectif_name|length > 1 %}
                                <button style="margin-bottom: 1vh" type="button" class="btn btn-primary">
                                    <i class="far fa-calendar-alt" style="margin-right: 0.2vw"></i>
                                    Training Plan
                                </button>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel profile-info col-md-12">
                {% if sport_profil.final_objectif_name|length < 1 %}
                <div class="panel-body container-sport-profil">
                    <h1>Please fill your sport profil</h1>
                    <form method="POST" id="sport-profil-form" action="{% url 'createSportProfil' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="objectifName" class="form-label">Final objectif name</label>
                            <input class="form-control" type="text" name="objectifName"
                                placeholder="What is the name of your main objectif">
                        </div>
                        <div class="mb-3">
                            <label for="objectifKm" class="form-label">Final objectif distance</label>
                            <input class="form-control" type="number" name="objectifDistance"
                                placeholder="How far will you run ?">
                        </div>
                        <div class="mb-3">
                            <label for="objectifD" class="form-label">Final objectif elevation</label>
                            <input class="form-control" type="number" name="objectifD"
                                placeholder="How much will you climb ?">
                        </div>
                        <div class="mb-3">
                            <label for="objectifDate" class="form-label">Date</label>
                            <input type="date" class="form-control" name="objectifDate"
                                placeholder="when it'll happen ?">
                        </div>


                        <div class="mb-3">
                            <label for="stravaLink" class="form-label">Strava profil</label>
                            <input class="form-control" name="stravaLink" placeholder="Show us what you got !">
                        </div>

                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                {% else %}
                {% comment %} <iframe height='160' width='100%' frameborder='0' allowtransparency='true' scrolling='no'
                    src='https://www.strava.com/athletes/17464740/activity-summary/8d8133ac9a2473492a472958492a2e7ca34ec0e6'></iframe>
                {% endcomment %}
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-run">All time progress</h3>
                            <div class="counter-container">
                                <div class="km-ran-counter">
                                    <p class="counter-count">{{ all_trainings.total_km }}</p>
                                    <p class="km-ran">Kilometers ran</p>
                                </div>
                                <div class="deniv-climbed-counter">
                                    <p class="counter-count">{{ all_trainings.total_d }}</p>
                                    <p class="d-ran">Elevation gained</p>
                                </div>
                                <div class="deniv-climbed-counter">
                                    <p class="counter-count">{{ all_trainings.nb_trainings }}</p>
                                    <p class="d-ran">Number of Trainings</p>
                                </div>
                            </div>

                            <script>
                                $('.counter-count').each(function () {
                                    $(this).prop('Counter', 0).animate({
                                        Counter: $(this).text()
                                    }, {
                                        duration: 2500,
                                        easing: 'swing',
                                        step: function (now) {
                                            $(this).text(Math.ceil(now));
                                        }
                                    });
                                });
                            </script>
                            <div class="panel">
                                <h3 class="title-run">Monthly progress</h3>   
                                <canvas id="chartEvolution" width="1000" height="300"></canvas>
                                <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
                                <script type="text/javascript">
                                    var config = {
                                        type: 'line',
                                        data: {
                                            datasets: [{
                                                    data: {{ all_km|safe }},
                                                    borderColor: 'rgba(45, 201, 151, 1)',
                                                    backgroundColor: 'rgba(45, 201, 151, 0.25)',
                                                    label: 'Kilometers',
                                                    tension: 0.3,
                                                    fill: {
                                                        target: 'origin',
                                                    },
                                                    yAxisID: 'y',
                                                },
                                                {
                                                    data: {{all_deniv|safe }},
                                                    borderColor: 'rgb(248, 203, 0)',
                                                    backgroundColor: 'rgba(248, 203, 0, 0.25)',
                                                    label: 'Elevation gain',
                                                    tension: 0.3,
                                                    fill: {
                                                        target: 'origin',
                                                    },
                                                    yAxisID: 'y1',
                                                }
                                            ],
                                            labels: {{ labels }},
                                        },
                                        options: {
                                            responsive: true,
                                            plugins: {
                                                legend: {
                                                    labels: {
                                                        font: {
                                                            size: 10
                                                        }
                                                    }
                                                },
                                            },
                                            scales: {
                                                y: {
                                                    type: 'linear',
                                                    display: true,
                                                    position: 'left',
                                                    title: {
                                                        display: true,
                                                        text: "Number of kilometers ran",
                                                        font: {
                                                            size: 10,
                                                        }
                                                    },
                                                },
                                                y1: {
                                                    type: 'linear',
                                                    display: true,
                                                    position: 'right',
                                                    title: {
                                                        display: true,
                                                        text: "Number of meters climbed",
                                                        font: {
                                                            size: 10,
                                                        }
                                                    },
                                                    grid: {
                                                        drawOnChartArea: false,
                                                    },
                                                }
                                            }
                                        }
                                    };

                                    window.onload = function () {
                                        var ctx = document.getElementById('chartEvolution').getContext('2d');
                                        window.Chart = new Chart(ctx, config);
                                    };
                                </script>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</body>

</html>