body {
    background-color: #484d51;
}
#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header,
li {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 26px;
    }

    #header #logo img {
        max-height: 40px;
    }
}

#title {
    margin-top: 2rem;
    text-align: center;
    color: white;
}

#chartRanking {
    margin-top: 1vh;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 50%;
    height: 50%;
    overflow: scroll;
    padding: 30px;
}


.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #484d51;
}

.hf-mixed {
    padding-top: 3rem;
    text-align: center;
}

.container-img {
    margin-top: 10px;
}

.img {
    text-align: center;
}

.athlete {
    border: 1px solid;
    border-left-width: .5rem;
    border-right-width: .5rem;
    border-radius: .5rem;
    text-align: center;
}

.athlete-first {
    border-color: gold;
}

.athlete-second {
    border-color: silver;
}

.athlete-third {
    border-color: #cd7f32;
}

.first {
    color: gold;
}

.second {
    color: silver;
}

.third {
    color: #cd7f32;
}